name = "singlefile-share"
main = "src/worker.js"
compatibility_date = "2024-09-23"
workers_dev = false

# Custom Domain
routes = [
    { pattern = "singlefile-share.bobocai.win", custom_domain = true }
]

# D1 Database Binding
[[d1_databases]]
binding = "DB"
database_name = "singlefile-share-db"
database_id = "9ee00c9d-9374-430e-ac5c-b5204bce0438"

# R2 Bucket Binding
[[r2_buckets]]
binding = "BUCKET"
bucket_name = "singlefile-share-files"

# Cron Trigger (Sync every 1 minute)
[triggers]
crons = ["* * * * *"]

# Environment Variables
[vars]
DISPLAY_TIMEZONE = "Asia/Shanghai"

# Cloudflare AI Binding
[ai]
binding = "AI"

# Vectorize Binding
[[vectorize]]
binding = "VECTOR_INDEX"
index_name = "html-search-index"

[assets]
directory = "./public"
binding = "ASSETS"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true
